.main-container section{
    padding:var(--space-md) var(--space-lg);
    justify-items: flex-start;
}
.main-container {
    max-width: var(--max-width-7xl);
    justify-items: center;
    margin: auto;
}
h1{
    font-size: 1.8rem;
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--space-md);
    padding-top:  var(--space-md);
}
.category-card {
    background: transparent;
    overflow: hidden;
    text-align: center;
}
.category-card h3 {
    font-size: 1rem;
}
.category-card img {
    width: 100%;
    aspect-ratio:1;
    object-fit: cover;
    border-radius: var(--border-radius-xl);
}
.category-card:hover {
    transform: scale(1.03);
}

#shop-by-category {
    border-bottom: solid var(--line-color);
}

.filter-sort-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--space-md);
}
.filter{
    display: flex;
    gap: var(--space-lg);
    align-items: center;
}
.filter-item, .filter-mobile, .sort{
    padding: var(--space-xs) var(--space-xs);
    border:var(--border-solid);
    border-radius: var(--border-radius-sm);
    background: transparent;
}
.filter-mobile{
    display: none;
}
select{
    border: none;
}
select:focus{
    outline: none;
}  

.price-filter {
    position: relative;
  }
  .price-toggle {
    padding: var(--space-sm) var(--space-sm);
    border: var(--border-solid);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
  }
  
  .price-inputs {
    position: absolute;
    top: 110%;
    left: 0;
    display: none;
    border: var(--border-solid);
    padding: var(--space-sm);
    border-radius: var(--border-radius-sm);
    z-index: 999;
    gap: var(--space-sm);
    align-items: center;
  }
  .price-filter:hover .price-inputs {
    display: flex;
  }
  
  .price-inputs input {
    width:5rem;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--border-radius-sm);
  }
  
@media (max-width: 1024px) {
    /* Below is gonna center filter and sort icons so don't delete it Lkhagvaaaa*/
    .filter-sort-container{
        justify-content: center;
        gap: var(--space-md);
    }
    .filter-mobile{
        display: block;
    }
    .filter{
        display: none;
    }
}