.header-top-nav{
    padding: var(--space-md) var(--space-lg);
    border-bottom: var(--border-solid);
    
}
.header-top{
    display: flex;
    align-items:center;
}
.logo-container{
    margin-right: var(--space-md);
}
.logo {
    font-weight: bold;    
    color: var(--primary-color);  
}
.logo svg {
    width: var(--header-font-size);
    height: auto;
    fill:var(--primary-color)
}
.logo-text{
    font-size: var(--header-font-size);
}

.search-box {
    display: flex;
    flex:1;
    max-width: var(--search-box-size);
    margin: auto;
    border: var(--border-solid);
    border-radius: var(--border-radius-md);
    overflow: hidden;
}
.search-box svg{
    width: var(--search-svg-size);
    height: auto;
    padding: var(--space-xs) var(--space-sm);
}
.search-box input {
    width: 100%;
    height: 100%;
    padding: var(--space-xs);  
    border: none;
    border-radius: var(--border-radius-md);
}
.search-box input:focus{
    outline: none;
}
.icons{
    margin-left: var(--space-lg);
}
.icons a svg{
    width: var(--header-font-size);
    height: auto;
}
