:root{
    --profile-img-size:50px;
    --contact-svg-size:16px;
}

.container{
    max-width: 1280px;
    margin:30px auto;
}
.profile-section{
    margin:0 20px;
    max-width: 800px;
}
.profile{
    display:flex;
    gap:10px;
    height: 100px;
    align-items: stretch;
}
.profile-pic{
    aspect-ratio: 1;
    height:100%;
    object-fit: cover;
    border-radius: 50%; 
    border:1px solid var(--line-color);
}
.profile-info{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*line urt bolgono */
}
.full-name{
    font-weight: bolder;
}
.username{
    font-weight: lighter;
    font-size: 12px;
    color:var(--username-color);
}
.rate{
    display: flex;
    margin-top: 8px;
    height: 100%;
    align-items: center;
    gap:8px;
    border-top:1px solid var(--line-color);
}
.post-likes{
   border-left: 2px solid var(--line-color);
   padding: 0 10px;
}
.bio-follow-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}
.bio{
    margin-top: 10px;
}
.contact{
    display: flex;
    gap:5px;
}

.follow-container{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.follow-btn{
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding:  5px 10px;
}
.follow-btn:hover{
    background-color: var(--hover-color);
}
.contact svg{
    width: var(--contact-svg-size);
    height: auto;
}
.post{
    margin:10px 20px;
    border-top:1px solid var(--line-color);
    justify-content: center;
}
.tabs {
    width: 100%;
  }
  
  .tab-titles {
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  
  .tab-title {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }
  .tab-title.active{
    border-bottom: 2px solid var(--line-color);
  }
  .tab-title:hover {
    border-bottom: 2px solid #d8e5f1;
  }
  

  